<p id="notice"><%= notice %></p>

<p>
  <strong>Amount cents:</strong>
  <%= @transaction.amount_cents %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @transaction.establishment_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
